@page
@model ForgotPasswordModel

@{
    ViewData["Title"] = "Mots de passe oublié?";
}


<section class="reservation">
    <div class="reservation__titre">@ViewData["title"]</div>
    <p class="reservation__sous-titre">
        Vous devez entrer un courriel
    </p>

    <form class="form" method="post">
        <div asp-validation-summary="All" class="form__text--error"></div>
        <div class="form__item">
            <label class="form__label" asp-for="Input.Email"></label>
            <input asp-for="Input.Email" class="form__control" />
            <span asp-validation-for="Input.Email" class="form__text--error"></span>
        </div>
        <div class="form__item">
            <button type="submit" class="bouton form__control--bouton">Soumettre</button>
        </div>

        <div class="form__item">
            <a class="link" asp-page="./Login">Revenir en arrière</a>
        </div>
    </form>
</section>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
