@use "bouton" as *;
@use "../tools" as *;

@mixin heroLayout() {
	@include maxWidth(xl);
	@include container(xl);

	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 0.1fr 1fr 0.1fr 0.4fr;

	height: 150vh;

	&__titre {
		transform: translateY(var(--hero-title-y));
		grid-column: span 2;
		align-self: end;
		text-align: center;

		@include breakpoint(sm) {
			text-align: left;
			grid-column: 2;
		}
	}

	&__contenu {
		display: grid;

		grid-row: 4;
		grid-column: span 2;

		grid-template-rows: 0.1fr 1fr;

		@include breakpoint(sm) {
			grid-row: 2;
			grid-column: 2;
			grid-template-rows: spacing(xl) 0.6fr 0.05fr 0.4fr;
		}
	}

	&__description {
		margin-top: spacing(xl);
		margin-bottom: spacing(xl);

		@include breakpoint(sm) {
			max-width: 40ch;
		}
	}

	&__telephone {
		@include display(sm);
		margin-top: spacing(md);
	}

	&__image {
		transform: translateY(var(--hero-image-y));
		grid-row: 2;
		grid-column: span 2;
		@include breakpoint(sm) {
			grid-row: span 2;
			grid-column: 4;
		}
	}

	&__btn {
		grid-row: 1;
		text-align: center;
		margin-left: auto;
		margin-right: auto;

		@include breakpoint(sm) {
			margin-left: 0;
			grid-row: auto;
		}
	}

	&__sous-titre {
		@include display(sm);
		transform: translateY(var(--hero-title-y));
	}

	@include breakpoint(sm) {
		height: 100vh;
		grid-template-columns: 0.25fr 0.6fr 0.15fr 0.9fr 0.1fr;
		grid-template-rows: 0.4fr 1fr 0.1fr;
	}
}

.hero {
	@include heroLayout;

	&--alt {
		@include container(xl);
		@include maxWidth(xl);

		& > .hero__titre {
			font-size: text-size(xxxl);
			text-align: center;
			padding-top: spacing(lg);
		}
	}

	&__titre {
		font-size: text-size(xxxxl);
		font-weight: 500;
	}

	&__sous-titre {
		color: $color-primary;
	}

	&__image {
		background-image: url("../img/hero.webp");
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}

	&__btn {
		@extend %bouton;

		&:visited, &:focus {
			color: $color-light;
		}
	}
}
