@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Modifier le mots de passe";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<section class="reservation">
    <div class="reservation__titre">@ViewData["title"]</div>

    <partial name="_StatusMessage" model="Model.StatusMessage" />
    <form id="change-password-form" method="post" class="form">
        <div asp-validation-summary="All" class="form__text--error"></div>
        <div class="form__item">
            <label class="form__label" asp-for="Input.OldPassword"></label>
            <input asp-for="Input.OldPassword" class="form__control" />
            <span asp-validation-for="Input.OldPassword" class="form__text--error"></span>
        </div>
        <div class="form__item">
            <label class="form__label" asp-for="Input.NewPassword"></label>
            <input asp-for="Input.NewPassword" class="form__control" />
            <span asp-validation-for="Input.NewPassword" class="form__text--error"></span>
        </div>
        <div class="form__item">
            <label class="form__label" asp-for="Input.ConfirmPassword"></label>
            <input asp-for="Input.ConfirmPassword" class="form__control" />
            <span asp-validation-for="Input.ConfirmPassword" class="form__text--error"></span>
        </div>
        <button type="submit" class="bouton bouton--success form__control--bouton">Modifier le mots de passe</button>
    </form>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}